body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
}
.sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.mainbar{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0;

}
.preview{
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 72px;
    width: 100%;
    background:linear-gradient(to right, #ae2896, #509bf5);
    display: flex;
    justify-content: space-between;
}
.preview h6{
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-top: 13px;
    margin-bottom: 5px;
    margin-left: 50px;
    
} 
.preview p{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-left: 50px;
}
.preview button{
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 13px;
    margin-right: 50px;
}
a {
    text-decoration: none;
    color: white;
}
.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    line-height: 40px;
    opacity: 0.7;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i {
    font-size: 1.75rem;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 20px;
}
.nav-option a {
    font-size: 1rem;
    position: absolute;
    padding-top: 5px;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    margin-top: 1rem;
}
.lib-option img{
    height: 1.25rem;
    width: 1.25;
    opacity: 0.7;
}
.lib-option a {
    margin-left: 0.75rem;
    position: absolute;
    opacity: 0.7;
}
.lib-option :hover {
    opacity: 1;
}
.icons{
    font-size: 1.75rem;
    display: flex;
}
.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;
}
.box{
    background-color: #232323;
    height: 9rem;
    border-radius: 0.75rem;
    margin: 1rem 0 1.5rem 0;
    padding: 0.75rem 1.25rem;
}
.box_p1{
    font-size: 1rem;
    font-weight: 600
}
.box_p2{
    font-size: 0.85rem;
    opacity: 0.9;
}
.badge{
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}
.dark-badge{
    background-color: black;
    color: white;
}
.box_2{
    background-color: #232323;
    height: 11rem;
    width: fit-content;
    border-radius: 0.75rem;
    margin: 1rem 0 1.5rem 0;
    padding: 0.5rem 1.25rem;
}
.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 1;
}
.nav-left {
    margin-left: 0.75rem;
}
.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item {
    margin-right: 1.5rem;
}
@media (max-width: 1000px) {
    .hide{
        display: none;
    }
}
.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 0.75rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
}
.card-img {
    width: 100%;
    border-radius: 0.5rem;
}
.card-title {
    font-weight: 600;
}
.card-info {
    font-size: 0.85rem;
    opacity: 0.8;
}
.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
    height: 40%;
    border-top: 1px solid white;
    opacity: 0.4;
}
.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player{
    width: 50%;
}
.controls{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-control-icon{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}
.player-control-icon:hover{
    opacity: 1;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}